/* --- Font --- */

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-Regular.ttf") format("truetype"),
        url("../font/Quicksand-Bold.ttf") format("truetype"),
        url("../font/Quicksand-Light.ttf") format("truetype");
}


/* --- Debut Header --- */

/* --- Typographie --- */


body h1 {
    font-size: 50px;
    color: #0C9B18;
    font-family: "Quicksand";
    font-weight: bold;
    max-width: 100%;
    height: auto;
}


/* --- fin media titre et supr du text logo --- */

body h2 {
    font-size: 27px;
    color: #000000;
    font-weight: bold;
    font-family: "Quicksand";

}

body h3 {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    font-family: "Quicksand";
}

body h4 {
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    font-family: "Quicksand";
}

body p {
    font-size: 12px;
    color: #000000;
    font-family: "Quicksand";
}

body a {
    text-decoration: none;
    font-size: 7px;
    font-weight: bold;
    color: #6ACC1A;
    font-family: "Quicksand";
    text-align: center;
}

/* --- Contour --- */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- Logo --- */

.menu_logo {
    display: flex;
    align-items: center;


}

.menu img {
    width: 10%;
    margin: 5px 10px 5px 10px;

}


.menu h1 {
    text-align: left;
    margin-left: 50px;
}


/* --- Fin Header --- */

/* --- Début main --- */

.banniere {
    width: 100%;
}

.banniere img {
    max-width: 100%;
    height: auto;
}

.titre_2 {
    text-align: center;
    margin: 1rem;
    margin-bottom: 2%;
}

.titre_3 {
    text-align: center;
    margin: 2rem;
    font-weight: 900;
}

.titre_r_d {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ligne {
    border-bottom: 1px solid #6ACC1A;
    margin: auto;
    width: 20%;
}


/* --- section carte --- */

.carte {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    margin-bottom: 3%;
}

.titre_carte_bms {
    text-align: center;
    margin-bottom: 3%;
}

.titre_carte_elec {
    text-align: start;
    margin-bottom: 3%;
}

.titre_carte_embarque {
    text-align: end;
    margin-bottom: 3%;
}

.carte img {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.carte_elec {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.carte_elec p {
    text-align: left;
}

.carte_bms {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-right: 1px solid #6ACC1A;
    border-left: 1px solid #6ACC1A;
    padding: 0% 2.5%;
}

.carte_bms p {
    text-align: center;
}

.carte_embarque {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.carte_embarque p {
    text-align: end;
}

.p_carte {
    text-align: start;
    display: flex;
    font-size: small;
    min-height: 100px;
    justify-content: space-between;
    flex-direction: column;
}

/* --- fin section carte --- */


/* --- dernière partie du main */

.projet_psa {
    display: flex;
}

.text_psa {
    flex-direction: column;
    margin: auto;
}

.text_psa p {
    padding-top: 2%;
}

.projet_psa img {
    width: 15%;
    margin: 5% 2%;
}


/* --- fin dernière partie du main */


/* --- Fin main --- */

/* --- Début Footer --- */

.footer {
    background-color: #757575;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* --- Réseaux sociaux --- */
.footer_suivre {
    display: flex;
    align-items: center;
    margin: 1em 3em 0 3em;

}

.footer_suivre2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}

.footer_contact {
    text-align: right;
}

.footer_fin {
    text-align: center;
    margin-top: 1em;
    font-size: 12px;
    font-family: "Quicksand";
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 12px;
    font-family: "Quicksand";
}

.footer p {
    color: #ffffff;
}

.footer_fin {
    color: #ffffff;
}

.footer img {
    width: auto;
    height: 25px;
}


.mention_fin {
    border-top: 1px solid #FDC50D;
    margin: 0 3rem;
}


/* --- Fin Footer --- */

/* Medias */

/* --- media titre et supr du text logo --- */

@media screen and (max-width : 450px) {

    h1 {
        display: none
    }

    .titre_2 {
        font-size: 20px;
    }
}

/* --- nav bar --- */

@media (min-width: 1150px) {

    #closeBtn {
        display: none;
    }

    .menu ul {
        display: flex;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    .menu li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .border_right_navbar {
        border-right: 1px solid #FDC50D;
    }

    .border_left_navbar {
        border-left: 1px solid #FDC50D;
    }

    .menu a {
        font-size: 23px;
        color: #000000;
        font-weight: bold;
        padding: 0 10px;
    }

    .menu a:hover {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
        color: #107207;
    }

    #r_d {
        color: #107207;
    }

    .sidenav {
        width: 100%;
        display: flex;
        margin-top: 2%;
    }

    .footer img:hover {
        height: 40px;
    }

}

/* --- burger menu --- */

@media (max-width: 1150px) {
    .sidenav {
        font-size: 100px;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -250px;
        background-color: rgba(212, 255, 176, 0.85);
        padding-top: 60px;
        transition: right 0.5s ease;
    }

    .border_right_navbar {
        border-bottom: 1px solid #000000;
        margin: 0 10%;
    }

    .border_left_navbar {
        border-top: 1px solid #000000;
        margin: 0 10%;
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        opacity: 1;
    }

    .sidenav a {
        padding: 10px 10px 10px 1px;
        text-decoration: none;
        font-size: 22px;
        color: #818181;
        display: block;
        transition: 0.3s;
        opacity: 1;
    }

    .sidenav a:hover {
        color: #111111;
        text-shadow: 0 0 1.5px #818181;
        transition: 0.2s;
    }

    .sidenav.active {
        right: 0;
    }

    /* bouton qui ferme */

    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #0C9B18;
        border-radius: 5px;
        margin: 6px 0;
    }
}

/* ---  fin burger menu --- */
/* Lignes de séparation */

@media screen and (max-width : 1300px) {
    .ligne {
        width: 30%;
    }
}

@media screen and (max-width : 847px) {
    .ligne {
        width: 40%;
    }
}

@media screen and (max-width : 540px) {
    .ligne {
        width: 50%;
    }
}

@media screen and (max-width : 400px) {
    .ligne {
        width: 60%;
    }
}

/* --- Média des cartes --- */

@media (max-width: 800px) {

    .carte {
        display: flex;
        margin: auto;
        width: 90%;
        margin-bottom: 3%;
        flex-direction: column;
        align-items: center;
    }

    .carte_bms {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 0% 2.5%;
        border: none;
    }

    .carte_elec {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .carte_embarque {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

}

/* --- Fin média des cartes */

/* --- media psa --- */

@media (max-width: 800px) {

    .projet_psa {
        display: flex;
        flex-direction: column;
    }

    .projet_psa img {
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin: auto;
        margin-bottom: 2%;
    }

}

/* --- fin media psa --- */